<div class="row">
    <div class="col-xs-12">
        <h2 *ngIf="!(id > 0);else second">Add new user</h2>
        <ng-template #second>
            <h2>Edit Mode</h2>
        </ng-template>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-3">
            <label>First Name</label>
        </div>
        <div class="col-xs-3">
            <input type="text" [(ngModel)]="firstName">
        </div>
        <div class="col-xs-3">
            <label>Last Name</label>
        </div>
        <div class="col-xs-3">
            <input type="text" [(ngModel)]="lastName">
        </div>
    </div>
    <div class="col-xs-12">
        <div class="text-margin-10">
            <div class="col-xs-1">
                <button [disabled]="!firstName || !lastName" (click)="onSave()">Save</button>
            </div>
            <div class="col-xs-1">
                <button (click)="onBack()">Back</button>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="text-margin-10">
            Address
        </div>
    </div>
    <div class="col-xs-12">
        <div class="text-margin-10">

            <!-- <app-modified-user-addressinfo *ngFor="let address of addressLists" [address]="address"
                [addressLists]="addressLists" [removeAddrId]="removeAddrId">
            </app-modified-user-addressinfo>
            <app-modified-user-modal [addressLists]="addressLists"></app-modified-user-modal> -->

            <dx-data-grid id="gridContainerAddr" [dataSource]="dataSourceAddr" [remoteOperations]="false"
                showBorders="true">
                <dxo-paging [pageSize]="2"></dxo-paging>
                <dxi-column dataField="AddressInfo" caption="ที่อยู่">
                </dxi-column>
                <dxi-column [allowSorting]="false" dataField="Edit" caption="Edit" cellTemplate="EditButtonTemplate">
                </dxi-column>
                <dxi-column [allowSorting]="false" dataField="Delete" caption="Delete"
                    cellTemplate="DeleteButtonTemplate">
                </dxi-column>

                <div *dxTemplate="let cell of 'EditButtonTemplate'">
                    <button (click)="openModal(template, cell.data)">Edit</button>
                </div>
                <div *dxTemplate="let cell of 'DeleteButtonTemplate'">
                    <button (click)="onDeleteAddr(cell.data)">Delete</button>
                </div>
            </dx-data-grid>

        </div>
    </div>
    <div class="col-xs-12">
        <div class="text-margin-20">
            <div class="col-xs-6">
            </div>
            <div class="col-xs-6">
                <button type="button" data-toggle="modal" [attr.data-target]="'#modalNewAddress'">
                    New Address
                </button>
                <!-- Modal -->
                <div class="modal fade" id="{{'modalNewAddress'}}" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add Address</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Address Info: <input type="text" [(ngModel)]="newAddrInfo" /></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" (click)="onNewAddressInfo()"
                                    data-dismiss="modal">Save
                                    changes</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-template #template>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Edit Address</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>Address Info: <input type="text" [(ngModel)]="AddrInfo.AddressInfo"/></p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="onSaveNewAddrInfo()">Save changes</button>
            <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Close</button>
        </div>
    </ng-template>
</div>